<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Server: Start Game</title>
    <link rel="icon" href="resources/chest1.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/styles.css?v=1.0" /> <!--CAMBIAR LA RUTA -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
</head>

<body class="body-lo-re">
    <video autoplay muted loop class="background-video">
        <source src="resources/videos/fog.mp4" type="video/mp4">
    </video>

    <form action="#" method="POST" class="form-lo-re">
        <h1 class="animated-text">Create Character</h1>

        <label for="name_cha" class="animated-text">Name</label>
        <input type="text" id="name_cha" name="name_cha" required>
        
        <label for="alias_cha" class="animated-text">Alias</label>
        <input type="text" id="alias_cha" name="alias_cha" required>

        <label class="animated-text" for="race">Race</label>
        <select id="race" name="race_cha" required>
            <option value="" disabled selected>Select your race</option>
            <option value="Human">Human</option>
            <option value="Elf">Elf</option>
            <option value="Tiefling">Tiefling</option>
        </select>

        <div class="class_char">
            <label class="animated-text">Class</label>
                <div class="type_char">
                    <label for="warrior"> <img src="resources/characters/p1v2.png" alt="Warrior Image"> Warrior </label>
                    <input type="radio" id="warrior" name="class_cha" value="Warrior" required>
                    <label for="hunter"> <img src="resources/characters/p3v2.png" alt="Hunter Image"> Hunter</label>
                    <input type="radio" id="hunter" name="class_cha" value="Hunter">
                    <label for="wizard"> <img src="resources/characters/p2v2.png" alt="Wizard Image"> Wizard</label>
                    <input type="radio" id="wizard" name="class_cha" value="Wizard">
                </div>
        </div>
        
        <button type="submit" class="button-lo-re" name="create-char">Create Game</button>
    </form>
    
</body>

</html>