<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Server: Login</title>
    <link rel="icon" href="resources/chest1.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/styles.css?v=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
</head>

<body class="body-lo-re">
    <video autoplay muted loop class="background-video">
        <source src="resources/videos/fog.mp4" type="video/mp4">
    </video>
    <div class="logo">
        <h1 class="title-animated " >Mistbringer's</h1>
        <h1 class="subtitle-animated " >Dungeon</h1>
        <img src="resources/chest1.png" alt="chest" class="logochest">
    </div>

    <form action="#" method="POST" class="form-lo-re">
        <h1 class="animated-text">Login</h1>
        <label for="email_lo" class="animated-text">Email</label>
        <input type="email" id="email_lo" name="email_lo" placeholder="Your email" required>
        <label for="password_lo" class="animated-text">Password</label>
        <input type="password" id="password_lo" name="password_lo" placeholder="Your password" required>
        <button type="submit" class="button-lo-re" name="button_lo">Log In</button>
        <div class="register-link">
            <p class="animated-text">Don't have an account? <a href="views/register.html">Sign Up</a></p>
        </div>
    </form>
    
</body>

</html>